__pycache__
.idea

# packaging
cracy_complete.egg-info/
build/
dist/
pkg/
src/
python-cracy-complete/
python-cracy-complete-*.pkg.*

# directory 'test'
out.bash
out.fish
out.zsh
out.json
out.yaml
help.txt
tests.new.yaml
