__pycache__
.idea
.ruff_cache

# packaging
cracy_complete.egg-info/
build/
dist/
pkg/
src/
python-crazy-complete-*.pkg.*
python-crazy-complete/

# directory 'test'
test/tests/output/
out.json
out.yaml
help.txt
tests.new.yaml
